@model ShoppingCartVM


<form method="post" class="mb-5 flex" style="margin-bottom:auto;">
    <br />
    <div class="container mb-6">
        <div class="card shadow border-0 mb-6">

            <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
                <div class="row px-4">
                    <div class="col-6">
                        <h5 class="pt-2 text-white">
                            Order Summary
                        </h5>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" btn-outline-danger btn-sm">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row justify-between mb-5">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Shipping Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Name" id="name" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" type="text" id="phone" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street Address</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.StreetAddress" type="text" id="streetAdress" class="form-control" />
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.City" type="text" id="city" class="form-control" />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>State</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Country" type="text" id="country" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postal Code</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PostalCode" type="text" id="pcode" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                          <div class="col-12 col-lg-5 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Payment Details:</span>
                                </h4>
                            </div>
                            
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Card Number</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="UserCreditCard.CardNumber" type="text" id="cnum" class="form-control" />
                                    <span asp-validation-for="UserCreditCard.CardNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Expire Year</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="UserCreditCard.ExpiryYear" type="text" id="eyear" class="form-control" />
                                    <span asp-validation-for="UserCreditCard.ExpiryYear" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Expire Month</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="UserCreditCard.ExpiryMonth" type="text" id="emonth" class="form-control" />
                                    <span asp-validation-for="UserCreditCard.ExpiryMonth" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>CVV</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="UserCreditCard.CVV" id="cvv" type="text" class="form-control" />
                                    <span asp-validation-for="UserCreditCard.CVV" class="text-danger"></span>
                                </div>
                            </div>
                            
                        </div> 
                     </div> 
                    <div class="row justify-center">
                        <div class="col-12 col-lg-5">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Order Summary:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var details in Model.ShoppingCartList)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            @if (details.Product.Discount > 0)
                                            {
                                                <h6 class="my-0 text-white">@details.Product.ShoeModel <span class="badge bg-success">Sale @details.Product.Discount.ToString("P0")</span></h6>
                                                <small class="text-muted">Quantity: @details.Count</small>
                                            }
                                            else
                                            {
                                                <h6 class="my-0 text-white">@details.Product.ShoeModel </h6>
                                                <small class="text-muted">Quantity: @details.Count</small>
                                            }
                                        </div>
                                        @if (details.Product.Discount > 0)
                                        {
                                            <span class="text-muted">@details.Price.ToString("c")</span>
                                        }
                                        else
                                        {
                                            <span class="text-muted">@((details.Price * details.Count).ToString("c"))</span>
                                        }

                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (ILS)</small>
                                    <strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Estimate Arrival Date:
                            @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" onclick="return validateInput()" value="Place Order" class="btn btn-primary form-control">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough  | align lineheight | checklist numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function appendPercentageSymbol(inputElement) {
            if (!inputElement.value.includes('%')) {
                inputElement.value = inputElement.value + '%';
            }
        }
    </script>
    <script>
        function validateInput() {
            if (document.getElementById("name").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Please enter Name',
                });
                return false;
            }
            if (document.getElementById("phone").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Please enter Phone Number',
                });
                return false;
            }
            if (document.getElementById("streetAdress").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Please enter Street Adress',
                });
                return false;
            }
            if (document.getElementById("country").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Please enter Country',
                });
                return false;
            }
            if (document.getElementById("pcode").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Please enter Postal Code',
                });
                return false;
            }
            if (document.getElementById("city").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Please enter City',
                });
                return false;
            }
            if (document.getElementById("email").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Please enter Email',
                });
                return false;
            }
            if (document.getElementById("cnum").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Invalid input for Credit Card',
                });
                return false;
            }
            if (document.getElementById("eyear").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Invalid input for Expiry Year',
                });
                return false;
            }
            if (document.getElementById("emonth").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Invalid input for Expiry Month',
                });
                return false;
            }
            if (document.getElementById("cvv").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Invalid input for CVV',
                });
                return false;
            }
            return true;
        }
    </script>
}