@model OrderDetail
@using C_C_Proj_WebStore.Utility
<form method="post">
    <input asp-for="OrderHeaderId" hidden />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        Order Product
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Details" class="btn btn-outline-info form-control btn-sm">Back to Details</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">


                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">Product Details</span>
                        </h4>
                        <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.Product.StockStatus</label>

                        <ul class="list-group mb-3">

                            <li class="list-group-item d-flex justify-content-between p-2">
                                <div class="row container">
                                    <div class="col-lg-3 col-sm-6 animateWithBounce">
                                        <div class="row p-2">
                                            <div class="col-12 p-1">
                                                <div class="card border-0 shadow border-top border-5 rounded">
                                                    @if (Model.Product.ProductImages != null && Model.Product.ProductImages.Count() > 0)
                                                    {
                                                        <img src="@Model.Product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                                                    }
                                                    else
                                                    {
                                                        <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                                                    }
                                                    @*  <img src="@item.ImageUrl" class="card-img-top rounded"/>  *@
                                                    <div class="card-body pb-0">
                                                        <div class="pl-1">
                                                            <p class="card-title h5 text-white text-opacity-75 text-uppercase text-center"> @Model.Product.ShoeModel </p>
                                                            <p class="card-title text-warning text-center">by <b>@Model.Product.Brand</b></p>
                                                            <p class="card-title text-white text-center">Age group : <b>@Model.Product.AgeGroup</b></p>
                                                            <p class="card-title text-white text-center">Gender : <b>@Model.Product.Gender</b></p>

                                                            <h3 class="card-title text-white text-center">Stock Status : <b>@Model.Product.StockStatus</b></h3>
                                                            <h3 class="card-title text-white text-center">Stock Count : <b>@Model.Product.StockCount</b></h3>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </li>
                            <li class="list-group-item bg-primary">
                                <div class="row container">

                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                              id="inputGroup-sizing-default">
                                            Count
                                        </span>
                                        <input asp-for="@Model.Count" type="number" value="1" class="form-control text-end"
                                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-2 offset-md-5">
                                <button type="submit" asp-action="UpdateProductStock" class="btn btn-primary bg-gradient border-0  align-content-center form-control">Order Product From Warehouse</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>